# Virtual environment
venv/

# Environment variables
.env

# Audio/temp files
mic.wav
temp.wav

# Temporary/personal scripts or logs
translation.txt

# Generated folder
generated
generated/mic.wav
generated/temp.wav

## Cache folder
__pycache__/